.nutui-react-demo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 30px;
}

.title {
  display: block;
  margin: 20px 0;
  font-weight: 600;
}

.btn {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}

.outer-box{
  //position: relative;
  width: 100%;
  height: 100vh;
  //border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  .background-image {
    position: absolute;
    width: 100%;
    height: 100vh; // 不减去导航栏高度，直接设置为100vh
    z-index: -1; // 将背景图放在底层
  }

  .header-box{
    position: absolute;
    left: 30rpx;
    top: 60rpx;
    width: 360rpx;
    height: 136rpx;
    //border: 1px solid black;
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .header-top{
      width: 320rpx;
      height: 48rpx;
      font-weight: 500;
      font-size: 34rpx;
      color: #FFFFFF;
      line-height: 48rpx;
      text-align: left;
      font-style: normal;
      //border: 1px solid black;
    }
    .header-mid{
      width: 360rpx;
      height: 34rpx;
      font-weight: 300;
      line-height: 34rpx;
      font-size: 24rpx;
      color: #FFFFFF;
      text-align: left;
      font-style: normal;
      //border: 1px solid black;
    }
    .header-bottom{
      width: 360rpx;
      height: 34rpx;
      line-height: 34rpx;
      font-size: 24rpx;
      font-weight: 300;
      color: #FFFFFF;
      text-align: right;
      font-style: normal;
      //border: 1px solid black;
    }
  }

  .content-box{
    top: 200rpx;
    position: absolute;
    width: 750rpx;
    height: 150rpx;
    //border: 2rpx solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-text{
      width: 490rpx;
      height: 130rpx;
      //border: 2rpx solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-up{
        width: 490rpx;
        height: 88rpx;
        //border: 1px solid black;

        font-weight: 500;
        font-size: 32rpx;
        color: #FFFFFF;
        line-height: 44rpx;
        letter-spacing: 1px;
        text-align: left;
        font-style: normal;
      }
      .text-down{
        width: 490rpx;
        height: 34rpx;
        //border: 1px solid black;

        font-weight: 300;
        font-size: 24rpx;
        color: #FFFFFF;
        line-height: 34rpx;
        text-align: right;
        font-style: normal;
      }
    }

    .content-icon{
      width: 96rpx;
      height: 96rpx;
      //border: 2rpx solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 88rpx;

      .icon-up{
        width: 56rpx;
        height: 56rpx;
        //border: 1px solid black;

        .content-icon-img{
          width: 56rpx;
          height: 56rpx;
          //border: 1px solid black;
        }
      }
      .icon-down{
        width: 96rpx;
        height: 34rpx;
        //border: 1px solid black;

        font-weight: 400;
        font-size: 24rpx;
        color: #FFFFFF;
        line-height: 34rpx;
        font-style: normal;
      }
    }
  }

  .background-title-box{
    margin: 768rpx 0 0 0;
    width: 300rpx;
    height: 66rpx;
    //border: 1px solid black;
    font-weight: 400;
    font-size: 48rpx;
    color: #FFFFFF;
    line-height: 66rpx;
    letter-spacing: 1px;
    text-align: center;
    font-style: normal;
    z-index:1;
  }

  .voice-action-box{
    margin:auto 0 64rpx 0;
    width: 750rpx;
    height: 140rpx;
    //border: 1px solid black;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-center{
      width: 140rpx;
      height: 140rpx;
      //border: 1px solid black;
    }

    .box-side-left{
      width: 44rpx;
      height: 44rpx;
      //border: 1px solid black;
      margin-left: 62rpx;
    }
    .box-side-right{
      width: 44rpx;
      height: 44rpx;
      //border: 1px solid black;
      margin-right: 62rpx;
    }

    .voice-side-img{
      width:44rpx;
      height:44rpx;
    }

    .voice-center-img{
      width: 140rpx;
      height: 140rpx;
    }
  }

  .sleep-action-box{
    margin:auto 0 64rpx 0;
    width: 750rpx;
    height: 140rpx;
    //border: 1px solid black;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-center{
      width: 140rpx;
      height: 140rpx;
      //border: 1px solid black;
    }

    .box-side-left{
      width: 44rpx;
      height: 44rpx;
      //border: 1px solid black;
      margin-left: 62rpx;
    }
    .box-side-right{
      width: 44rpx;
      height: 44rpx;
      //border: 1px solid black;
      margin-right: 62rpx;
    }

    .sleep-side-img{
      width:44rpx;
      height:44rpx;
    }

    .sleep-center-img{
      width: 140rpx;
      height: 140rpx;
    }
  }

  .outer-footer-call{
    //margin: auto 0 102rpx 0;
    margin-bottom: 102rpx;
    width: 92rpx;
    height: 50rpx;
    //border: 1px solid black;
    background: rgba(255,255,255,0.3);
    border-radius: 60rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .call-draw-img{
      width: 28rpx;
      height: 22rpx;
      z-index: 1;
    }
  }

  .nut-popup-bottom{
    max-height: 100% !important;
  }
  .nut-popup-top{
    max-height: 100% !important;
  }


}
.index-popup-inner-box{
  //border: 3px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pull-icon{
    margin: 42rpx 0 0 0;
    width: 80rpx;
    height: 30rpx;
    //border: 2rpx solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 664rpx;
    height: 64rpx;
    margin: 38rpx 0 0 0;
  }

  .under-search-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-voice-scroll{
      margin: 6rpx 0 0 0;
      width:708rpx;//这一步有点高手
      height: 99vh;
      //background-color: yellow;

      .search-bottom-single-page-voice{
        width: 708rpx;
        //height: auto;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .empty-notice-search{
      margin: 388rpx 0 0 0;
      //width: ;
      font-weight: 400;
      font-size: 30rpx;
      color: #222222;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .search-history-box{
      width: 664rpx;
      height: 100%;
      margin: 20rpx 0 0 0;

      display: flex;
      flex-direction: column;


      .history-top-box{
        width: 664rpx;
        height: 48rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .history-title{
          width: 160rpx;
          height: 48rpx;
          font-weight: 500;
          font-size: 34rpx;
          color: #222222;
          line-height: 48rpx;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }

        .history-clear{
          width: 20rpx;
          height: 20rpx;
          .history-clear-img{
            width: 20rpx;
            height: 20rpx;
          }
        }
      }

      .history-list{
        margin: 20rpx 0 0 0;
        width: 664rpx;
        height: 100%;
      }
    }
  }

  .tabs-up-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 664rpx;
    height: 58rpx;
    //border: 1px solid red;
    margin: 32rpx 0 0 0;
  }

  .tabs-box{
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 48rpx;
    width: 664rpx;
    margin: 22rpx 0 0 0;
    //border: 1px solid blue;

    .tabs-item{
      width: 68rpx;
      height: 48rpx;
      //border: 1px solid black;
      margin: 0 110rpx 0 0;
      font-weight: 400;
      font-size: 34rpx;
      color: #666666;
      line-height: 48rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;

      position: relative;
      padding-bottom: 8rpx;
      cursor: pointer;
    }

    .tabs-item.active {
      color:#222222;
    }

    .tabs-item::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 8rpx;
      background-color: transparent;
      border-radius: 2rpx;
      transition: background-color 0.3s ease;
    }

    .tabs-item.active::after{
      background-color: #65C565;
    }

    .badge {
      position: absolute;
      top: -17rpx; /* 调整位置 */
      right: -42rpx; /* 调整位置 */
      padding: 2rpx 4rpx;
      border-radius: 50%;
      font-weight: 400;
      font-size: 24rpx;
      color: #666666;
      line-height: 34rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }
  }

  .tabs-item-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 664rpx;
    //height: auto;
    //border: 1px solid blue;
    margin: 20rpx 0 0 0;

    .nut-tabs-titles-item {
      min-width:unset;
    }

    .nut-tabs-titles-button .nut-tabs-titles-item-active {
      background-color: #65C565;
      color: #FFFFFF;
      border: 0px;
    }

    .voice-scroll{
      margin: 6rpx 0 0 0;
      width:708rpx;//这一步有点高手
      height: 99vh;
      //background-color: yellow;

      .bottom-single-page-voice{
        width: 708rpx;
        //height: auto;
        //border: 1rpx solid red;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .sleep-scroll{
      width:708rpx;//这一步有点高手
      height: 90vh;
      //background-color: yellow;

      .bottom-single-page-sleep{
        width: 708rpx;
        //height: auto;
        //border: 1rpx solid red;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .breath-right{
      width: 26rpx;
      height: 26rpx;
    }
    .bottom-single-page{
      width: 708rpx;
      //height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .select-breath-duration{
        width: 664rpx;
        height: 460rpx;
        margin: 100rpx 0 0 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .breath-type-item-box{
          width: 308rpx;
          height: 400rpx;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          box-shadow: 0rpx 0rpx 12rpx 12rpx rgba(0,0,0,0.05);
          border-radius: 34rpx;

          .breath-type-top{
            width: 96rpx;
            height: 96rpx;
          }
          .breath-type-mid{
            margin: 48rpx 0 0 0;
            width: 172rpx;
            height: 42rpx;

            font-weight: 600;
            font-size: 30rpx;
            color: #222222;
            line-height: 42rpx;
            text-align: center;
            font-style: normal;
          }
          .breath-type-bottom{
            margin: 20rpx 0 0 0;
            width: 240rpx;
            height: 34rpx;

            font-weight: 400;
            font-size: 24rpx;
            color: #929292;
            line-height: 34rpx;
            text-align: center;
            font-style: normal;
            text-transform: none;
          }
        }
        .breath-type-item-box-selected{
          width: 308rpx;
          height: 400rpx;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 2rpx solid #F1B4A6;

          box-shadow: 0rpx 0rpx 12rpx 12rpx rgba(0,0,0,0.05);
          border-radius: 34rpx;

          .breath-type-top{
            width: 96rpx;
            height: 96rpx;
          }
          .breath-type-mid{
            margin: 48rpx 0 0 0;
            width: 172rpx;
            height: 42rpx;

            font-weight: 600;
            font-size: 30rpx;
            color: #222222;
            line-height: 42rpx;
            text-align: center;
            font-style: normal;
          }
          .breath-type-bottom{
            margin: 20rpx 0 0 0;
            width: 240rpx;
            height: 34rpx;

            font-weight: 400;
            font-size: 24rpx;
            color: #929292;
            line-height: 34rpx;
            text-align: center;
            font-style: normal;
            text-transform: none;
          }
        }
      }

      .mid-breath-action-box{
        margin: 94rpx 0 0 0;
        width: 708rpx;
        height: 92rpx;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .action-item{
          width: 206rpx;
          height: 92rpx;
          //margin: 0 90rpx 0 0;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .item-up{
            width: 206rpx;
            height: 40rpx;

            display: flex;
            align-items: center;
            justify-content: center;
            .up-left{
              width: 180rpx;
              height: 40rpx;

              font-weight: 400;
              font-size: 28rpx;
              color: #222222;
              line-height: 40rpx;
              text-align: center;
              font-style: normal;
              text-transform: none;
            }
            .up-right{
              margin-left: auto;
              width: 26rpx;
              height: 26rpx;
            }
          }
          .item-down{
            width: 206rpx;
            height: 40rpx;

            font-weight: 400;
            font-size: 28rpx;
            color: #929292;
            line-height: 40rpx;
            text-align: center;
            font-style: normal;
            text-transform: none;
          }
        }

        .action-item-last{
          width: 166rpx;
          height: 92rpx;
          //margin: 0 90rpx;
          border: 1px solid black;
          .item-up-last{
            width: 166rpx;
            height: 40rpx;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            .up-left{
              width: 140rpx;
              height: 40rpx;
              border: 1px solid black;

              font-weight: 400;
              font-size: 28rpx;
              color: #222222;
              line-height: 40rpx;
              text-align: left;
              font-style: normal;
              text-transform: none;
            }
            .up-right{
              margin-left: auto;
              width: 26rpx;
              height: 26rpx;
              border: 1px solid black;
            }
          }
          .item-down-last{
            width: 166rpx;
            height: 40rpx;
            border: 1px solid black;

            font-weight: 400;
            font-size: 28rpx;
            color: #929292;
            line-height: 40rpx;
            text-align: left;
            font-style: normal;
            text-transform: none;
          }
        }
      }

      .breath-bottom-box{
        width: 244rpx;
        height: 88rpx;
        //border: 1rpx solid black;
        margin: 78rpx 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.empty-notice{
  margin: 388rpx 0 0 136rpx;

  font-weight: 400;
  font-size: 30rpx;
  color: #222222;
  line-height: 42rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.voice-set-box{
  width: 750rpx;
  height: 858rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .voice-time-item{
    width: 740rpx;
    height: 72rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left{
      margin-left: 42rpx;
      width: 196rpx;
      height: 42rpx;

      font-weight: 600;
      font-size: 30rpx;
      color: #222222;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .item-right{
      margin-right: 42rpx;
      width: 36rpx;
      height: 36rpx;

      .right-img{
        width: 36rpx;
        height: 36rpx;
      }
    }
  }
}


.sleep-set-box{
  width: 750rpx;
  height: 380rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid black;

  .box-item{
    width: 662rpx;
    height: 50rpx;
    //border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item-left{
      width: 200rpx;
      height: 50rpx;
      //border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      font-weight: 400;
      font-size: 30rpx;
      color: #222222;
      line-height: 50rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .item-right{
      margin-left: auto;
      width: 240rpx;
      height: 50rpx;
      //border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .right-left{
        width: 190rpx;
        height: 50rpx;
        //border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        font-weight: 400;
        font-size: 30rpx;
        color: #666666;
        line-height: 50rpx;
        text-align: center;
        font-style: normal;
        text-transform: none;
      }
      .right-right{
        width: 40rpx;
        height: 40rpx;
        //border: 1px solid black;
      }
    }
  }
}

.sleep-background-outer-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  //border: 1px solid black;
  align-items: center;
  justify-content: center;

  .sleep-background-notice-box{
    margin: 0 0 26rpx 0;
    width: 662rpx;
    height: 34rpx;
    font-weight: 300;
    font-size: 24rpx;
    color: #929292;
    line-height: 34rpx;
    text-align: left;
    font-style: normal;
    text-transform: none;
  }

  .sleep-background-scroll{
    margin: 0 0 0 0;
    width:662rpx;
    height: 90vh;
    //background-color: yellow;

    .sleep-background-voice-single{
      width: 662rpx;
      //height: auto;
      //border: 1rpx solid red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }
  }
}

.breath-time-set-box{
  width: 750rpx;
  height: 758rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid black;

  .breath-time-item{
    width: 740rpx;
    height: 72rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left{
      margin-left: 42rpx;
      width: 196rpx;
      height: 42rpx;

      font-weight: 600;
      font-size: 30rpx;
      color: #222222;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .item-right{
      margin-right: 42rpx;
      width: 36rpx;
      height: 36rpx;

      .right-img{
        width: 36rpx;
        height: 36rpx;
      }
    }
  }
}
.breath-voice-set-box{
  width: 750rpx;
  height: 258rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .breath-voice-item{
    width: 740rpx;
    height: 72rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left{
      margin-left: 42rpx;
      width: 196rpx;
      height: 42rpx;

      font-weight: 600;
      font-size: 30rpx;
      color: #222222;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .item-right{
      margin-right: 42rpx;
      width: 36rpx;
      height: 36rpx;

      .right-img{
        width: 36rpx;
        height: 36rpx;
      }
    }
  }
}
.breath-time-set-box{
  width: 750rpx;
  height: 650rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid black;

  .breath-voice-item{
    width: 740rpx;
    height: 72rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left{
      margin-left: 42rpx;
      width: 196rpx;
      height: 42rpx;

      font-weight: 600;
      font-size: 30rpx;
      color: #222222;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }

    .item-right{
      margin-right: 42rpx;
      width: 36rpx;
      height: 36rpx;

      .right-img{
        width: 36rpx;
        height: 36rpx;
      }
    }
  }
}
.breath-type-set-box{
  width: 750rpx;
  height: 308rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .breath-type-item{
    margin-bottom: 50rpx;
    width: 740rpx;
    height: 104rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item-icon{
      margin-left: 46rpx;
      width: 72rpx;
      height: 72rpx;
    }

    .item-left{
      margin-left: 30rpx;
      width: 240rpx;
      height: 104rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .left-up{
        width: 240rpx;
        height: 42rpx;

        font-weight: 600;
        font-size: 30rpx;
        color: #222222;
        line-height: 42rpx;
        text-align: left;
        font-style: normal;
        text-transform: none;
      }
      .left-down{
        margin-top:12rpx;
        width: 240rpx;
        height: 34rpx;

        font-weight: 400;
        font-size: 24rpx;
        color: #929292;
        line-height: 34rpx;
        text-align: left;
        font-style: normal;
        text-transform: none;
      }
    }

    .item-right{
      margin-left: auto;
      margin-right: 42rpx;
      width: 36rpx;
      height: 36rpx;

      .right-img{
        width: 36rpx;
        height: 36rpx;
      }
    }
  }
}

.nut-tag{
  margin: 0 16rpx 16rpx 0;
}

